*{
    overflow:hidden;
}
@media screen and (min-width: 991.1px) {
    body{
        text-align:center;
        background-color:#0e1538;
        background: url(images/bg.jpg);
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 991px) {
    body{
        text-align:center;
        background-color:#0e1538;
        background: url(images/bg.jpg);
        background-position:top;
        background-size: cover;
        background-repeat: no-repeat;
        height:1000px;
    }
}
.stars span{
    position:absolute;
    top:50%;
    left:50%;
    width:5px;
    height:5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1);
    0 0 0 8px rgba(255,255,255,0.1);
    0 0 20px rgba(255,255,255,1);
    animation:animate 3s linear infinite;
}
.stars span::before{
    content:'';
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:300px;
    height:1px;
    background:linear-gradient(90deg,#fff,transparent);
}
@keyframes animate{
    0%{
        transform:rotate(315deg) translateX(0);
        opacity:1;
    }
    70%{
        opacity:1;
    }
    100%{
        transform:rotate(315deg) translateX(-1000px);
        opacity:0;
    }
}
span:nth-child(1){
    top:0;
    right:0;
    animation-delay:0;
    animation-duration: 1s;
}
span:nth-child(2)){
    top:0;
    right:80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}
span:nth-child(3){
    top:80px;
    right:0;
    left:initial;
    animation-delay:0.4s;
    animation-duration: 2s;
}
span:nth-child(4)){
    top:0;
    right:180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration:1.5s;
}
span:nth-child(5){
    top:80px;
    right:400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6)){
    top:0;
    right:600px;
    left:initial;
    animation-delay:1s;
    animation-duration:3s;
}
span:nth-child(7){
    top:30px;
    right:0px;
    left:initial;
    animation-delay:1.2s;
    animation-duration: 1.75s;
}
span:nth-child(8)){
    top:300px;
    right:0px;
    left:initial;
    animation-delay:1.2s;
    animation-duration:1.75s;
}
span:nth-child(9){
    top:0px;
    right:1000px;
    left:initial;
    animation-delay:0.75s;
    animation-duration: 2.25s;
}
span:nth-child(10)){
    top:0px;
    right:450px;
    left:initial;
    animation-delay:2.75s;
    animation-duration:2.25s;
}
.converter{
    height:400px;
    width:900px;
    /*background:linear-gradient(#2b1055,#7597de);*/
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:25px;
}
.converter h1{
    color:white;
    padding:40px 0 20px 0;
    font-size:50px;
}
.converter input{
    font-size:30px;
    background-color: transparent;
    color:white;

}
#inputType,#resultType{
    font-size:30px;
    width:376px;   
    margin:10px 10px;
    background-color: transparent;
    color:grey;
}
